<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <style type="text/css">
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {height: 700px;}
      
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        height: 100%;
      }
      
      /* Set black background color, white text and some padding */
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <% include nav.ejs %>

    <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="https://en.wikipedia.org/wiki/Big_data">What's Big Data?</a></p>
        <p><a href="https://www.simplilearn.com/big-data-applications-in-industries-article">Industry applications</a></p>
        <p><a href="https://www.journals.elsevier.com/big-data-research/recent-articles">Current Research areas</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <div align="center">
          <h2>Big Data</h2>
        </div>
        <br>
        <p>According to IDC's prediction in 2013, the market for big data will reach $16.1 billion in 2014, growing 6 times faster than the overall IT market. This kind of business analysis reports brigs great business opportunities and strong research interests among both academic and industry communities. Recently, our Big data product offerings are organized focusing on BIg Data computing, Big Data Sciences and Analytics, and Big Data Technology and Engineering.</p>
        <hr>
        <div align="center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/367KWPASWtE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen align="middle"></iframe>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <img src="assets/ad_nut.png" height="300" width="180">
        </div>
        <div class="well">
          <img src="assets/ad_corn.png" height="300" width="180">
        </div>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>&#169; Copyright 2018 BAM, Inc.</p>
  </footer>
  </body>
</html>