<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <style type="text/css">
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {height: 700px;}
      
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
      }
      
      /* Set black background color, white text and some padding */
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
      div.centerstuff{text-align:center;}
    </style>
  </head>
  <body>
    <% include nav.ejs %>

    <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="http://www.ethics.org/resources/free-toolkit/code-of-conduct">Why Have a Code of Conduct</a></p>
        <p><a href="http://www.sjsu.edu/studentconduct/">SJSU Office of Student Conduct</a></p>
        <p><a href="http://www.au.af.mil/au/awc/awcgate/readings/code_of_conduct.htm">Sample Code of Conduct for the US Army</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <div class="centerstuff"><h1>Code of Conduct</h1></div>
        <p>At BAM, employees are expected to conform to a specific code of conduct. This is to ensure the highest quality products and services, and to also ensure that our customers' integrity is regarded with the highest honor. Employees who are found to be in violation of the company code of conduct are reprimanded and disciplined in an appropriate fashion as determined by our ethics department.</p>
        <p>Please see the links in the left sidebar for the rationale behind having a code of conduct, and for some relevant examples of what codes of conduct might look like.</p>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <img src="assets/ad_nut.png" height="300" width="180">
        </div>
        <div class="well">
          <img src="assets/ad_corn.png" height="300" width="180">
        </div>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>&#169; Copyright 2018 BAM, Inc.</p>
  </footer>
  </body>
</html>