<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function submit() {
        $("#first").val("");
        $("#last").val("");
        $("#email").val("");
        $("#comment").val("");
        $("#submitSuccessSpan").show(function() {
          $(this).fadeOut(4000);
        });
      }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <style type="text/css">
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {height: 700px;}
      
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
      }
      
      /* Set black background color, white text and some padding */
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
      div.centerstuff{text-align:center;}
      #submitSuccessSpan {
        display: none;
        position: absolute;
        border: 2px solid darkgreen;
        background-color: green;
        border-radius: 10px;
        left: 50px;
        bottom: 70px;
        color: white;
        font-size: 20pt;
        padding: 5px 10px;
      }
    </style>
  </head>
  <body>
    <% include nav.ejs %>

    <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="http://www.agconsult.com/en/usability-blog/contact-info-how-what-and-where">Why Have Contact Info</a></p>
        <p><a href="https://www.searchenginejournal.com/25-amazing-contact-us-pages/">25 Amazing Contact Info Pages</a></p>
        <p><a href="http://www.sjsu.edu/contact/index.html">SJSU Contact Us</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <div class="centerstuff"><h1>Contact Us</h1></div>
        <p>Please enter your contact information and message below, and click "Submit" to send us a message. We will respond by giving you a phone call or sending you an email as soon as possible.</p>
        <form id="form">
          <label for="first">First Name: </label>
          <input id="first" name="first" type="text" placeholder="First Name"><br/>
          <label for="last">Last Name: </label>
          <input id="last" name="last" type="text" placeholder="Last Name"><br/>
          <label for="email">Email Address: </label>
          <input id="email" name="email" type="email" placeholder="Email Address"><br/>
          <label for="comment">Comment: </label><br/>
          <textarea id="comment" name="comment" form="form" placeholder="Enter questions or comments here..." rows="8" cols="50"></textarea><br/>
        </form>
        <button type="button" onclick="submit();">Submit</button>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <img src="assets/ad_nut.png" height="300" width="180">
        </div>
        <div class="well">
          <img src="assets/ad_corn.png" height="300" width="180">
        </div>
      </div>
    </div>
    <span id="submitSuccessSpan">Comment Received Successfully!</span>
  </div>

  <footer class="container-fluid text-center">
    <p>&#169; Copyright 2018 BAM, Inc.</p>
  </footer>
  </body>
</html>