<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <style type="text/css">
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {height: 700px;}
      
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
      }
      
      /* Set black background color, white text and some padding */
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
      div.centerstuff{text-align:center;}
    </style>
  </head>
  <body>
    <% include nav.ejs %>

    <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="https://en.wikipedia.org/wiki/Business_process">What is a Business Process</a></p>
        <p><a href="https://www.managementstudyguide.com/components-of-a-process.htm">Components of a Process</a></p>
        <p><a href="http://www.pnmsoft.com/resources/bpm-tutorial/business-process/">Business Process Types</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <div class="centerstuff"><h1>Business Process</h1></div>
        <p>At BAM, we employ a variety of business processes to ensure customer success.</p>
        <p>Agile process is used for our software engineering projects.</p>
        <p>Kanban is used at the product management level.</p>
        <p>We also employ waterfall for tasks that are harder to do otherwise, such as file archiving or account management.</p>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <img src="assets/ad_nut.png" height="300" width="180">
        </div>
        <div class="well">
          <img src="assets/ad_corn.png" height="300" width="180">
        </div>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>&#169; Copyright 2018 BAM, Inc.</p>
  </footer>
  </body>
</html>